body {
    background-size: 100%;
   }

.menu {
    height: 60px;
    width: 100%;
    background: #2b2b2b;
    border-bottom: 5px solid #3c3f41;
    display: flex;
}

.button_reg{
    margin-top: 13px;
    margin-right: 20px;
    margin-left: auto;
}

.back {
    background: gray;
    height: 460px;
    width: 400px;
    border: 5px solid #3c3f41;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
}

.register {
    display: flex;
    flex-flow: column;
}

.buttons_reg {
    height: 60px;
    width: 300px;
    margin: auto;
    text-align: center;
    background: #afb1b3;
    border: 5px solid #3c3f41;
    border-radius: 7px;
    margin-top: 40px;
}

.button_main {
    margin-top: 13px;
    margin-left: 20px;
}

.logo {
    position: absolute;
    margin-left: 45%;
    font-size: 40px;

}

.logo p{
    color: #afb1b3;
    margin-top: -5px;
    font-size: 40px;
}

.ErrorLogin {
    color: #afb1b3;
    text-align: center;
}

.buttons_post {
    height: 60px;
    width: 300px;
    margin: auto;
    text-align: center;
    background: #afb1b3;
    border: 5px solid #3c3f41;
    border-radius: 7px;

}

.AllGood {
    color: #65ae77;
    text-align: center;
}

.back_login {
    background: gray;
    height: 360px;
    width: 400px;
    border: 5px solid #3c3f41;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
}

.prokrutka {
    border: 1px solid #6e6868; /* размер и цвет границы блока */
    overflow: auto; /* свойство дл€ прокрутки по горизонтали. јвтоматом, если больше блока */
}

.flex {
    display: flex;
}

.main {
    text-align: center;
}

.friends-list {
    margin-left: 10%;
    margin-top: 50px;
    background: rgba(60, 63, 65, 0.50);
    height: 800px;
    width: 500px;
    border-radius: 20px;
}

.message {
    border: 1px solid #6e6868;
    background: rgba(60, 63, 65, 0.50);
    margin-top: 50px;
    margin-left: 20px;
    height: 800px;
    width: 1000px;
    border-radius: 20px;
}

.red {
    color: red;
}

.friends {
    margin-left: 5%;
    margin-top: 2.5%;
    background: rgba(60, 63, 65, 0.7);
    height: 50px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid #6e6868;
    color: #949191;
    text-align: center;
    font-size: 30px;
}

.prokrutka::-webkit-scrollbar {
    width: 7px;
}

.prokrutka::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.prokrutka::-webkit-scrollbar-thumb {

    background: rgba(0, 0, 0, 0);
}

.friends-cur {
    text-decoration: none;
    color: #949191;
}

.friends-cur:hover {
    color: #bbbcc0;
}

.name_recipient {
    border: 1px solid #6e6868;
    width: 990px;
    height: 50px;
    background: rgba(115, 113, 113, 0.41);
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.messages {
    margin-top: 10px;
    width: 990px;
    margin-left: 5px;
    height: 669px;
    background: rgba(115, 113, 113, 0.41);
    border-radius: 20px;
}

.send_messages {
    margin-left: 5px;
    width: 795px;
    height: 50px;
    background: rgba(115, 113, 113, 0.41);
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;

}

.send {
    background: rgba(115, 113, 113, 0.41);
    border-radius: 20px;
    margin-left: 5px;
    height: 50px;
    width: 185px;
    color: #949191;
    font-size: 25px;
    margin-top: 10px;
}

.name {
    color: #949191;
    font-size: 35px;
}

.send_out {
    width: 1000px;
    height: 100px;
    display: flex;
}