{% extends 'main.html' %}

{% block messages %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        var block = document.getElementById("chat");
                block.scrollTop = 9999;

        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', function() {
            socket.emit('join',{"room": "{{ room }}", "username": '{{ user }}', "friend": '{{ friend }}' });
            //socket.send('User has connected');
        });

        socket.on('message', function (data) {
            if (data['user'] === '{{ user }}') {
                $("#chat").append('<h1 class="name_send">' + data["user"] + '</h1>');
                $("#chat").append('<h1 class="user_mes">' + data["message"] + '</h1>');
                console.log('received');
                block.scrollTop = 9999;
            }
            else if (data["user"] === '{{ friend }}'){
                $("#chat").append('<h1 class="name_send">' + data["user"] + '</h1>');
                $("#chat").append('<h1 class="user_mes">' + data["message"] + '</h1>');
                console.log('received');
                block.scrollTop = 9999;
            }
            console.log(1)
        });

        $('#sendmess').on('click', function () {
            socket.emit('message',{"room": "{{ room }}", "username": '{{ user }}', "message": $('#mymes').val()});
            //socket.emit('message', {"message": $('#mymes').val(), "room": "general", "username": '{{ user }}' });
            //socket.send($('#mymes').val());
            $('#mymes').val('');
        });
    });
    </script>
    <div class="name_recipient">
        <p class="name">{{ friend }}</p>
    </div>
    <div id="chat" class="messages prokrutka">
        {% for el in messages %}
            {% if el.sender == user %}
                <h1 class="name_send">{{ el.sender }}</h1>
                <h1 class="user_mes">{{ el.message }}</h1>
            {% elif el.sender == friend %}
                <h1 class="name_send">{{ el.sender }}</h1>
                <h1 class="user_mes">{{ el.message }}</h1>
            {% endif %}
        {% endfor %}

    </div>
    <div class="send_out">
        <input class="send_messages" id="mymes" type="" placeholder="Введите ваше сообщение">
        <button id="sendmess" class="send">Отправить</button>

    <!--
        <form method="post" class="send_out">
            <input class="send_messages" name="mes" id="mes" type="text" placeholder="Введите ваше сообщение">
            <input id="sendmess" type="submit" class="send" value="Отправить">
        </form>
     -->
    </div>

{% endblock %}